<div class="home-container">
    <!-- <h1>AUTO DEALER - Намери своя автомобил</h1> -->
    <h1>{{'HOME.TITLE' | translate}}</h1>
    <div class="home-image-container">
        <img src="assets/images/home.jpg" alt="">
    </div>

    <pre></pre>
    <div class="list-container">
        <div *ngFor="let document of documents" class="single-add-container">
            <div class="add-image-container">
                <img src="{{document.images[0]}}" alt="">
            </div>
            <div class="add-info-container">
                <div class="add-name-price">
                    <a href="/details/{{document.id}}" class="add-name">{{document.brand}} {{document.model}}</a>
                    <h3>{{document.price}} {{'HOME.CURRENCY' | translate}}</h3>
                </div>
                <div class="add-info">
                    <p>
                        {{'HOME.MANUFACTURER_DATE' | translate}} - {{document.buildYear}},
                    </p>
                    <p>{{'HOME.ENGINE' | translate}} - {{document.engineType}}</p>
                    <p>{{'HOME.TRANSMISSION' | translate}} - {{document.gearType}}</p>
                </div>
            </div>
        </div>
    </div>
</div>