<mat-form-field appearance="fill">
    <mat-label>Марка</mat-label>
    <mat-select matNativeControl id="brandSelectId">
        <mat-option selected value="">всички
        </mat-option>
        <mat-option value="AC">AC
        </mat-option>
        <mat-option value="Abarth">Abarth
        </mat-option>
        <mat-option value="Acura">Acura
        </mat-option>
        <mat-option value="Aixam">Aixam
        </mat-option>
        <mat-option value="Alfa Romeo">Alfa Romeo
        </mat-option>
        <mat-option value="Alpina">Alpina
        </mat-option>
        <mat-option value="Aro">Aro
        </mat-option>
        <mat-option value="Asia">Asia
        </mat-option>
        <mat-option value="Aston martin">Aston martin
        </mat-option>
        <mat-option value="Audi">Audi
        </mat-option>
        <mat-option value="Austin">Austin
        </mat-option>
        <mat-option value="BMW">BMW
        </mat-option>
        <mat-option value="Bentley">Bentley
        </mat-option>
        <mat-option value="Berliner">Berliner
        </mat-option>
        <mat-option value="Bertone">Bertone
        </mat-option>
        <mat-option value="Borgward">Borgward
        </mat-option>
        <mat-option value="Brilliance">Brilliance
        </mat-option>
        <mat-option value="Bugatti">Bugatti
        </mat-option>
        <mat-option value="Buick">Buick
        </mat-option>
        <mat-option value="Cadillac">Cadillac
        </mat-option>
        <mat-option value="Chevrolet">Chevrolet
        </mat-option>
        <mat-option value="Chrysler">Chrysler
        </mat-option>
        <mat-option value="Citroen">Citroen
        </mat-option>
        <mat-option value="Corvette">Corvette
        </mat-option>
        <mat-option value="Cupra">Cupra
        </mat-option>
        <mat-option value="DS">DS
        </mat-option>
        <mat-option value="Dacia">Dacia
        </mat-option>
        <mat-option value="Daewoo">Daewoo
        </mat-option>
        <mat-option value="Daihatsu">Daihatsu
        </mat-option>
        <mat-option value="Daimler">Daimler
        </mat-option>
        <mat-option value="Datsun">Datsun
        </mat-option>
        <mat-option value="Dkw">Dkw
        </mat-option>
        <mat-option value="Dodge">Dodge
        </mat-option>
        <mat-option value="Dr">Dr
        </mat-option>
        <mat-option value="Eagle">Eagle
        </mat-option>
        <mat-option value="FSO">FSO
        </mat-option>
        <mat-option value="Ferrari">Ferrari
        </mat-option>
        <mat-option value="Fiat">Fiat
        </mat-option>
        <mat-option value="Ford">Ford
        </mat-option>
        <mat-option value="GOUPIL">GOUPIL
        </mat-option>
        <mat-option value="Gaz">Gaz
        </mat-option>
        <mat-option value="Geo">Geo
        </mat-option>
        <mat-option value="Gmc">Gmc
        </mat-option>
        <mat-option value="Gonow">Gonow
        </mat-option>
        <mat-option value="Great Wall">Great Wall
        </mat-option>
        <mat-option value="Haval">Haval
        </mat-option>
        <mat-option value="Heinkel">Heinkel
        </mat-option>
        <mat-option value="Hillman">Hillman
        </mat-option>
        <mat-option value="Honda">Honda
        </mat-option>
        <mat-option value="Hummer">Hummer
        </mat-option>
        <mat-option value="Hyundai">Hyundai
        </mat-option>
        <mat-option value="Ifa">Ifa
        </mat-option>
        <mat-option value="Infiniti">Infiniti
        </mat-option>
        <mat-option value="Innocenti">Innocenti
        </mat-option>
        <mat-option value="Isuzu">Isuzu
        </mat-option>
        <mat-option value="Iveco">Iveco
        </mat-option>
        <mat-option value="JAS">JAS
        </mat-option>
        <mat-option value="Jaguar">Jaguar
        </mat-option>
        <mat-option value="Jeep">Jeep
        </mat-option>
        <mat-option value="Jpx">Jpx
        </mat-option>
        <mat-option value="Kia">Kia
        </mat-option>
        <mat-option value="Lada">Lada
        </mat-option>
        <mat-option value="Laforza">Laforza
        </mat-option>
        <mat-option value="Lamborghini">Lamborghini
        </mat-option>
        <mat-option value="Lancia">Lancia
        </mat-option>
        <mat-option value="Land Rover">Land Rover
        </mat-option>
        <mat-option value="Landwind">Landwind
        </mat-option>
        <mat-option value="Lexus">Lexus
        </mat-option>
        <mat-option value="Lifan">Lifan
        </mat-option>
        <mat-option value="Lincoln">Lincoln
        </mat-option>
        <mat-option value="Lotus">Lotus
        </mat-option>
        <mat-option value="MG">MG
        </mat-option>
        <mat-option value="Mahindra">Mahindra
        </mat-option>
        <mat-option value="Maserati">Maserati
        </mat-option>
        <mat-option value="Matra">Matra
        </mat-option>
        <mat-option value="Maybach">Maybach
        </mat-option>
        <mat-option value="Mazda">Mazda
        </mat-option>
        <mat-option value="McLaren">McLaren
        </mat-option>
        <mat-option value="Mercedes-Benz">Mercedes-Benz
        </mat-option>
        <mat-option value="Mercury">Mercury
        </mat-option>
        <mat-option value="Mg">Mg
        </mat-option>
        <mat-option value="Microcar">Microcar
        </mat-option>
        <mat-option value="Mini">Mini
        </mat-option>
        <mat-option value="Mitsubishi">Mitsubishi
        </mat-option>
        <mat-option value="Morgan">Morgan
        </mat-option>
        <mat-option value="Moskvich">Moskvich
        </mat-option>
        <mat-option value="Nissan">Nissan
        </mat-option>
        <mat-option value="Oldsmobile">Oldsmobile
        </mat-option>
        <mat-option value="Opel">Opel
        </mat-option>
        <mat-option value="Perodua">Perodua
        </mat-option>
        <mat-option value="Peugeot">Peugeot
        </mat-option>
        <mat-option value="Pgo">Pgo
        </mat-option>
        <mat-option value="Plymouth">Plymouth
        </mat-option>
        <mat-option value="Polonez">Polonez
        </mat-option>
        <mat-option value="Pontiac">Pontiac
        </mat-option>
        <mat-option value="Porsche">Porsche
        </mat-option>
        <mat-option value="Proton">Proton
        </mat-option>
        <mat-option value="Renault">Renault
        </mat-option>
        <mat-option value="Rolls-Royce">Rolls-Royce
        </mat-option>
        <mat-option value="Rover">Rover
        </mat-option>
        <mat-option value="SECMA">SECMA
        </mat-option>
        <mat-option value="SH auto">SH auto
        </mat-option>
        <mat-option value="Saab">Saab
        </mat-option>
        <mat-option value="Samand">Samand
        </mat-option>
        <mat-option value="Santana">Santana
        </mat-option>
        <mat-option value="Saturn">Saturn
        </mat-option>
        <mat-option value="Scion">Scion
        </mat-option>
        <mat-option value="Seat">Seat
        </mat-option>
        <mat-option value="Shatenet">Shatenet
        </mat-option>
        <mat-option value="Shuanghuan">Shuanghuan
        </mat-option>
        <mat-option value="Simca">Simca
        </mat-option>
        <mat-option value="Skoda">Skoda
        </mat-option>
        <mat-option value="Smart">Smart
        </mat-option>
        <mat-option value="Ssang yong">Ssang yong
        </mat-option>
        <mat-option value="SsangYong">SsangYong
        </mat-option>
        <mat-option value="Subaru">Subaru
        </mat-option>
        <mat-option value="Suzuki">Suzuki
        </mat-option>
        <mat-option value="Talbot">Talbot
        </mat-option>
        <mat-option value="Tata">Tata
        </mat-option>
        <mat-option value="Tavria">Tavria
        </mat-option>
        <mat-option value="Tazzari">Tazzari
        </mat-option>
        <mat-option value="Tempo">Tempo
        </mat-option>
        <mat-option value="Terberg">Terberg
        </mat-option>
        <mat-option value="Tesla">Tesla
        </mat-option>
        <mat-option value="Tofas">Tofas
        </mat-option>
        <mat-option value="Toyota">Toyota
        </mat-option>
        <mat-option value="Trabant">Trabant
        </mat-option>
        <mat-option value="Triumph">Triumph
        </mat-option>
        <mat-option value="Uaz">Uaz
        </mat-option>
        <mat-option value="VROMOS">VROMOS
        </mat-option>
        <mat-option value="VW">VW
        </mat-option>
        <mat-option value="Volga">Volga
        </mat-option>
        <mat-option value="Volvo">Volvo
        </mat-option>
        <mat-option value="Warszawa">Warszawa
        </mat-option>
        <mat-option value="Wartburg">Wartburg
        </mat-option>
        <mat-option value="Wiesmann">Wiesmann
        </mat-option>
        <mat-option value="Xinkai">Xinkai
        </mat-option>
        <mat-option value="Xinshun">Xinshun
        </mat-option>
        <mat-option value="Yogomo">Yogomo
        </mat-option>
        <mat-option value="Zastava">Zastava
        </mat-option>
        <mat-option value="Zaz">Zaz
        </mat-option>
        <mat-option value="Други">Други
        </mat-option>
        <mat-option value="Победа">Победа
        </mat-option>
        <mat-option value="София">София
        </mat-option>
        <mat-option value="Чайка">Чайка
        </mat-option>
    </mat-select>


</mat-form-field>