<main class="attributes">
    <div class="selects">
        <div class="selects__column">
            <div class="selects__row">
                <mat-form-field class="mat-form-fields" appearance="fill">
                    <mat-label>Марка</mat-label>
                    <mat-select matNativeControl id="brandSelectId">
                        <mat-option selected value="">Избери
                        </mat-option>
                        <mat-option value="AC">AC
                        </mat-option>
                        <mat-option value="Abarth">Abarth
                        </mat-option>
                        <mat-option value="Acura">Acura
                        </mat-option>
                        <mat-option value="Aixam">Aixam
                        </mat-option>
                        <mat-option value="Alfa Romeo">Alfa Romeo
                        </mat-option>
                        <mat-option value="Alpina">Alpina
                        </mat-option>
                        <mat-option value="Aro">Aro
                        </mat-option>
                        <mat-option value="Asia">Asia
                        </mat-option>
                        <mat-option value="Aston martin">Aston martin
                        </mat-option>
                        <mat-option value="Audi">Audi
                        </mat-option>
                        <mat-option value="Austin">Austin
                        </mat-option>
                        <mat-option value="BMW">BMW
                        </mat-option>
                        <mat-option value="Bentley">Bentley
                        </mat-option>
                        <mat-option value="Berliner">Berliner
                        </mat-option>
                        <mat-option value="Bertone">Bertone
                        </mat-option>
                        <mat-option value="Borgward">Borgward
                        </mat-option>
                        <mat-option value="Brilliance">Brilliance
                        </mat-option>
                        <mat-option value="Bugatti">Bugatti
                        </mat-option>
                        <mat-option value="Buick">Buick
                        </mat-option>
                        <mat-option value="Cadillac">Cadillac
                        </mat-option>
                        <mat-option value="Chevrolet">Chevrolet
                        </mat-option>
                        <mat-option value="Chrysler">Chrysler
                        </mat-option>
                        <mat-option value="Citroen">Citroen
                        </mat-option>
                        <mat-option value="Corvette">Corvette
                        </mat-option>
                        <mat-option value="Cupra">Cupra
                        </mat-option>
                        <mat-option value="DS">DS
                        </mat-option>
                        <mat-option value="Dacia">Dacia
                        </mat-option>
                        <mat-option value="Daewoo">Daewoo
                        </mat-option>
                        <mat-option value="Daihatsu">Daihatsu
                        </mat-option>
                        <mat-option value="Daimler">Daimler
                        </mat-option>
                        <mat-option value="Datsun">Datsun
                        </mat-option>
                        <mat-option value="Dkw">Dkw
                        </mat-option>
                        <mat-option value="Dodge">Dodge
                        </mat-option>
                        <mat-option value="Dr">Dr
                        </mat-option>
                        <mat-option value="Eagle">Eagle
                        </mat-option>
                        <mat-option value="FSO">FSO
                        </mat-option>
                        <mat-option value="Ferrari">Ferrari
                        </mat-option>
                        <mat-option value="Fiat">Fiat
                        </mat-option>
                        <mat-option value="Ford">Ford
                        </mat-option>
                        <mat-option value="GOUPIL">GOUPIL
                        </mat-option>
                        <mat-option value="Gaz">Gaz
                        </mat-option>
                        <mat-option value="Geo">Geo
                        </mat-option>
                        <mat-option value="Gmc">Gmc
                        </mat-option>
                        <mat-option value="Gonow">Gonow
                        </mat-option>
                        <mat-option value="Great Wall">Great Wall
                        </mat-option>
                        <mat-option value="Haval">Haval
                        </mat-option>
                        <mat-option value="Heinkel">Heinkel
                        </mat-option>
                        <mat-option value="Hillman">Hillman
                        </mat-option>
                        <mat-option value="Honda">Honda
                        </mat-option>
                        <mat-option value="Hummer">Hummer
                        </mat-option>
                        <mat-option value="Hyundai">Hyundai
                        </mat-option>
                        <mat-option value="Ifa">Ifa
                        </mat-option>
                        <mat-option value="Infiniti">Infiniti
                        </mat-option>
                        <mat-option value="Innocenti">Innocenti
                        </mat-option>
                        <mat-option value="Isuzu">Isuzu
                        </mat-option>
                        <mat-option value="Iveco">Iveco
                        </mat-option>
                        <mat-option value="JAS">JAS
                        </mat-option>
                        <mat-option value="Jaguar">Jaguar
                        </mat-option>
                        <mat-option value="Jeep">Jeep
                        </mat-option>
                        <mat-option value="Jpx">Jpx
                        </mat-option>
                        <mat-option value="Kia">Kia
                        </mat-option>
                        <mat-option value="Lada">Lada
                        </mat-option>
                        <mat-option value="Laforza">Laforza
                        </mat-option>
                        <mat-option value="Lamborghini">Lamborghini
                        </mat-option>
                        <mat-option value="Lancia">Lancia
                        </mat-option>
                        <mat-option value="Land Rover">Land Rover
                        </mat-option>
                        <mat-option value="Landwind">Landwind
                        </mat-option>
                        <mat-option value="Lexus">Lexus
                        </mat-option>
                        <mat-option value="Lifan">Lifan
                        </mat-option>
                        <mat-option value="Lincoln">Lincoln
                        </mat-option>
                        <mat-option value="Lotus">Lotus
                        </mat-option>
                        <mat-option value="MG">MG
                        </mat-option>
                        <mat-option value="Mahindra">Mahindra
                        </mat-option>
                        <mat-option value="Maserati">Maserati
                        </mat-option>
                        <mat-option value="Matra">Matra
                        </mat-option>
                        <mat-option value="Maybach">Maybach
                        </mat-option>
                        <mat-option value="Mazda">Mazda
                        </mat-option>
                        <mat-option value="McLaren">McLaren
                        </mat-option>
                        <mat-option value="Mercedes-Benz">Mercedes-Benz
                        </mat-option>
                        <mat-option value="Mercury">Mercury
                        </mat-option>
                        <mat-option value="Mg">Mg
                        </mat-option>
                        <mat-option value="Microcar">Microcar
                        </mat-option>
                        <mat-option value="Mini">Mini
                        </mat-option>
                        <mat-option value="Mitsubishi">Mitsubishi
                        </mat-option>
                        <mat-option value="Morgan">Morgan
                        </mat-option>
                        <mat-option value="Moskvich">Moskvich
                        </mat-option>
                        <mat-option value="Nissan">Nissan
                        </mat-option>
                        <mat-option value="Oldsmobile">Oldsmobile
                        </mat-option>
                        <mat-option value="Opel">Opel
                        </mat-option>
                        <mat-option value="Perodua">Perodua
                        </mat-option>
                        <mat-option value="Peugeot">Peugeot
                        </mat-option>
                        <mat-option value="Pgo">Pgo
                        </mat-option>
                        <mat-option value="Plymouth">Plymouth
                        </mat-option>
                        <mat-option value="Polonez">Polonez
                        </mat-option>
                        <mat-option value="Pontiac">Pontiac
                        </mat-option>
                        <mat-option value="Porsche">Porsche
                        </mat-option>
                        <mat-option value="Proton">Proton
                        </mat-option>
                        <mat-option value="Renault">Renault
                        </mat-option>
                        <mat-option value="Rolls-Royce">Rolls-Royce
                        </mat-option>
                        <mat-option value="Rover">Rover
                        </mat-option>
                        <mat-option value="SECMA">SECMA
                        </mat-option>
                        <mat-option value="SH auto">SH auto
                        </mat-option>
                        <mat-option value="Saab">Saab
                        </mat-option>
                        <mat-option value="Samand">Samand
                        </mat-option>
                        <mat-option value="Santana">Santana
                        </mat-option>
                        <mat-option value="Saturn">Saturn
                        </mat-option>
                        <mat-option value="Scion">Scion
                        </mat-option>
                        <mat-option value="Seat">Seat
                        </mat-option>
                        <mat-option value="Shatenet">Shatenet
                        </mat-option>
                        <mat-option value="Shuanghuan">Shuanghuan
                        </mat-option>
                        <mat-option value="Simca">Simca
                        </mat-option>
                        <mat-option value="Skoda">Skoda
                        </mat-option>
                        <mat-option value="Smart">Smart
                        </mat-option>
                        <mat-option value="Ssang yong">Ssang yong
                        </mat-option>
                        <mat-option value="SsangYong">SsangYong
                        </mat-option>
                        <mat-option value="Subaru">Subaru
                        </mat-option>
                        <mat-option value="Suzuki">Suzuki
                        </mat-option>
                        <mat-option value="Talbot">Talbot
                        </mat-option>
                        <mat-option value="Tata">Tata
                        </mat-option>
                        <mat-option value="Tavria">Tavria
                        </mat-option>
                        <mat-option value="Tazzari">Tazzari
                        </mat-option>
                        <mat-option value="Tempo">Tempo
                        </mat-option>
                        <mat-option value="Terberg">Terberg
                        </mat-option>
                        <mat-option value="Tesla">Tesla
                        </mat-option>
                        <mat-option value="Tofas">Tofas
                        </mat-option>
                        <mat-option value="Toyota">Toyota
                        </mat-option>
                        <mat-option value="Trabant">Trabant
                        </mat-option>
                        <mat-option value="Triumph">Triumph
                        </mat-option>
                        <mat-option value="Uaz">Uaz
                        </mat-option>
                        <mat-option value="VROMOS">VROMOS
                        </mat-option>
                        <mat-option value="VW">VW
                        </mat-option>
                        <mat-option value="Volga">Volga
                        </mat-option>
                        <mat-option value="Volvo">Volvo
                        </mat-option>
                        <mat-option value="Warszawa">Warszawa
                        </mat-option>
                        <mat-option value="Wartburg">Wartburg
                        </mat-option>
                        <mat-option value="Wiesmann">Wiesmann
                        </mat-option>
                        <mat-option value="Xinkai">Xinkai
                        </mat-option>
                        <mat-option value="Xinshun">Xinshun
                        </mat-option>
                        <mat-option value="Yogomo">Yogomo
                        </mat-option>
                        <mat-option value="Zastava">Zastava
                        </mat-option>
                        <mat-option value="Zaz">Zaz
                        </mat-option>
                        <mat-option value="Други">Други
                        </mat-option>
                        <mat-option value="Победа">Победа
                        </mat-option>
                        <mat-option value="София">София
                        </mat-option>
                        <mat-option value="Чайка">Чайка
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="mat-form-fields" appearance="fill">
                    <mat-label> Модел</mat-label>
                    <mat-select matNativeControl id="brandSelectId">
                        <mat-option selected value="">Избери
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <form class="selects__row">
                <mat-form-field class="mat-form-fields" appearance="fill">
                    <mat-label>Цена - от (лв.)</mat-label>
                    <input matInput placeholder="1000" value="">
                </mat-form-field>

                <mat-form-field class="mat-form-fields" appearance="fill">
                    <mat-label>Цена - до (лв.)</mat-label>
                    <input matInput placeholder="50000" value="">
                </mat-form-field>
            </form>

            <div class="selects__row">
                <mat-form-field class="mat-form-fields" appearance="fill">
                    <mat-label>Тип двигател</mat-label>
                    <mat-select matNativeControl id="engineType">
                        <mat-option value="">всички типове
                        </mat-option>
                        <mat-option value="Бензинов">Бензинов
                        </mat-option>
                        <mat-option value="Дизелов">Дизелов
                        </mat-option>
                        <mat-option value="Електрически">Електрически
                        </mat-option>
                        <mat-option value="Хибриден">Хибриден
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="mat-form-fields" appearance="fill">
                    <mat-label>Скоростна кутия</mat-label>
                    <mat-select matNativeControl id="gearType">
                        <mat-option value="">Без значение
                        </mat-option>
                        <mat-option value="Ръчна">Ръчна
                        </mat-option>
                        <mat-option value="Автоматична">Автоматична
                        </mat-option>
                        <mat-option value="Полуавтоматична">Полуавтоматична
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>

        <div class="selects__column">
            <div class="selects__row">
                <mat-form-field class="mat-form-fields" appearance="fill">
                    <mat-label>Година на производство - от</mat-label>
                    <mat-select matNativeControl id="yearFrom">
                        <mat-option value="">
                        </mat-option>
                        <mat-option value="2021">от 2021 г.
                        </mat-option>
                        <mat-option value="2020">от 2020 г.
                        </mat-option>
                        <mat-option value="2019">от 2019 г.
                        </mat-option>
                        <mat-option value="2018">от 2018 г.
                        </mat-option>
                        <mat-option value="2017">от 2017 г.
                        </mat-option>
                        <mat-option value="2016">от 2016 г.
                        </mat-option>
                        <mat-option value="2015">от 2015 г.
                        </mat-option>
                        <mat-option value="2014">от 2014 г.
                        </mat-option>
                        <mat-option value="2013">от 2013 г.
                        </mat-option>
                        <mat-option value="2012">от 2012 г.
                        </mat-option>
                        <mat-option value="2011">от 2011 г.
                        </mat-option>
                        <mat-option value="2010">от 2010 г.
                        </mat-option>
                        <mat-option value="2009">от 2009 г.
                        </mat-option>
                        <mat-option value="2008">от 2008 г.
                        </mat-option>
                        <mat-option value="2007">от 2007 г.
                        </mat-option>
                        <mat-option value="2006">от 2006 г.
                        </mat-option>
                        <mat-option value="2005">от 2005 г.
                        </mat-option>
                        <mat-option value="2004">от 2004 г.
                        </mat-option>
                        <mat-option value="2003">от 2003 г.
                        </mat-option>
                        <mat-option value="2002">от 2002 г.
                        </mat-option>
                        <mat-option value="2001">от 2001 г.
                        </mat-option>
                        <mat-option value="2000">от 2000 г.
                        </mat-option>
                        <mat-option value="1999">от 1999 г.
                        </mat-option>
                        <mat-option value="1998">от 1998 г.
                        </mat-option>
                        <mat-option value="1997">от 1997 г.
                        </mat-option>
                        <mat-option value="1996">от 1996 г.
                        </mat-option>
                        <mat-option value="1995">от 1995 г.
                        </mat-option>
                        <mat-option value="1994">от 1994 г.
                        </mat-option>
                        <mat-option value="1993">от 1993 г.
                        </mat-option>
                        <mat-option value="1992">от 1992 г.
                        </mat-option>
                        <mat-option value="1991">от 1991 г.
                        </mat-option>
                        <mat-option value="1990">от 1990 г.
                        </mat-option>
                        <mat-option value="1989">от 1989 г.
                        </mat-option>
                        <mat-option value="1988">от 1988 г.
                        </mat-option>
                        <mat-option value="1987">от 1987 г.
                        </mat-option>
                        <mat-option value="1986">от 1986 г.
                        </mat-option>
                        <mat-option value="1985">от 1985 г.
                        </mat-option>
                        <mat-option value="1984">от 1984 г.
                        </mat-option>
                        <mat-option value="1983">от 1983 г.
                        </mat-option>
                        <mat-option value="1982">от 1982 г.
                        </mat-option>
                        <mat-option value="1981">от 1981 г.
                        </mat-option>
                        <mat-option value="1980">от 1980 г.
                        </mat-option>
                        <mat-option value="1979">от 1979 г.
                        </mat-option>
                        <mat-option value="1978">от 1978 г.
                        </mat-option>
                        <mat-option value="1977">от 1977 г.
                        </mat-option>
                        <mat-option value="1976">от 1976 г.
                        </mat-option>
                        <mat-option value="1975">от 1975 г.
                        </mat-option>
                        <mat-option value="1974">от 1974 г.
                        </mat-option>
                        <mat-option value="1973">от 1973 г.
                        </mat-option>
                        <mat-option value="1972">от 1972 г.
                        </mat-option>
                        <mat-option value="1971">от 1971 г.
                        </mat-option>
                        <mat-option value="1970">от 1970 г.
                        </mat-option>
                        <mat-option value="1969">от 1969 г.
                        </mat-option>
                        <mat-option value="1968">от 1968 г.
                        </mat-option>
                        <mat-option value="1967">от 1967 г.
                        </mat-option>
                        <mat-option value="1966">от 1966 г.
                        </mat-option>
                        <mat-option value="1965">от 1965 г.
                        </mat-option>
                        <mat-option value="1964">от 1964 г.
                        </mat-option>
                        <mat-option value="1963">от 1963 г.
                        </mat-option>
                        <mat-option value="1962">от 1962 г.
                        </mat-option>
                        <mat-option value="1961">от 1961 г.
                        </mat-option>
                        <mat-option value="1960">от 1960 г.
                        </mat-option>
                        <mat-option value="1959">от 1959 г.
                        </mat-option>
                        <mat-option value="1958">от 1958 г.
                        </mat-option>
                        <mat-option value="1957">от 1957 г.
                        </mat-option>
                        <mat-option value="1956">от 1956 г.
                        </mat-option>
                        <mat-option value="1955">от 1955 г.
                        </mat-option>
                        <mat-option value="1954">от 1954 г.
                        </mat-option>
                        <mat-option value="1953">от 1953 г.
                        </mat-option>
                        <mat-option value="1952">от 1952 г.
                        </mat-option>
                        <mat-option value="1951">от 1951 г.
                        </mat-option>
                        <mat-option value="1950">от 1950 г.
                        </mat-option>
                        <mat-option value="1949">от 1949 г.
                        </mat-option>
                        <mat-option value="1948">от 1948 г.
                        </mat-option>
                        <mat-option value="1947">от 1947 г.
                        </mat-option>
                        <mat-option value="1946">от 1946 г.
                        </mat-option>
                        <mat-option value="1945">от 1945 г.
                        </mat-option>
                        <mat-option value="1944">от 1944 г.
                        </mat-option>
                        <mat-option value="1943">от 1943 г.
                        </mat-option>
                        <mat-option value="1942">от 1942 г.
                        </mat-option>
                        <mat-option value="1941">от 1941 г.
                        </mat-option>
                        <mat-option value="1940">от 1940 г.
                        </mat-option>
                        <mat-option value="1939">от 1939 г.
                        </mat-option>
                        <mat-option value="1938">от 1938 г.
                        </mat-option>
                        <mat-option value="1937">от 1937 г.
                        </mat-option>
                        <mat-option value="1936">от 1936 г.
                        </mat-option>
                        <mat-option value="1935">от 1935 г.
                        </mat-option>
                        <mat-option value="1934">от 1934 г.
                        </mat-option>
                        <mat-option value="1933">от 1933 г.
                        </mat-option>
                        <mat-option value="1932">от 1932 г.
                        </mat-option>
                        <mat-option value="1931">от 1931 г.
                        </mat-option>
                        <mat-option value="1930">от 1930 г.
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="mat-form-fields" appearance="fill">
                    <mat-label>Година на производство - до</mat-label>
                    <mat-select matNativeControl id="yearTo">
                        <mat-option value="">
                        </mat-option>
                        <mat-option value="2021">от 2021 г.
                        </mat-option>
                        <mat-option value="2020">от 2020 г.
                        </mat-option>
                        <mat-option value="2019">от 2019 г.
                        </mat-option>
                        <mat-option value="2018">от 2018 г.
                        </mat-option>
                        <mat-option value="2017">от 2017 г.
                        </mat-option>
                        <mat-option value="2016">от 2016 г.
                        </mat-option>
                        <mat-option value="2015">от 2015 г.
                        </mat-option>
                        <mat-option value="2014">от 2014 г.
                        </mat-option>
                        <mat-option value="2013">от 2013 г.
                        </mat-option>
                        <mat-option value="2012">от 2012 г.
                        </mat-option>
                        <mat-option value="2011">от 2011 г.
                        </mat-option>
                        <mat-option value="2010">от 2010 г.
                        </mat-option>
                        <mat-option value="2009">от 2009 г.
                        </mat-option>
                        <mat-option value="2008">от 2008 г.
                        </mat-option>
                        <mat-option value="2007">от 2007 г.
                        </mat-option>
                        <mat-option value="2006">от 2006 г.
                        </mat-option>
                        <mat-option value="2005">от 2005 г.
                        </mat-option>
                        <mat-option value="2004">от 2004 г.
                        </mat-option>
                        <mat-option value="2003">от 2003 г.
                        </mat-option>
                        <mat-option value="2002">от 2002 г.
                        </mat-option>
                        <mat-option value="2001">от 2001 г.
                        </mat-option>
                        <mat-option value="2000">от 2000 г.
                        </mat-option>
                        <mat-option value="1999">от 1999 г.
                        </mat-option>
                        <mat-option value="1998">от 1998 г.
                        </mat-option>
                        <mat-option value="1997">от 1997 г.
                        </mat-option>
                        <mat-option value="1996">от 1996 г.
                        </mat-option>
                        <mat-option value="1995">от 1995 г.
                        </mat-option>
                        <mat-option value="1994">от 1994 г.
                        </mat-option>
                        <mat-option value="1993">от 1993 г.
                        </mat-option>
                        <mat-option value="1992">от 1992 г.
                        </mat-option>
                        <mat-option value="1991">от 1991 г.
                        </mat-option>
                        <mat-option value="1990">от 1990 г.
                        </mat-option>
                        <mat-option value="1989">от 1989 г.
                        </mat-option>
                        <mat-option value="1988">от 1988 г.
                        </mat-option>
                        <mat-option value="1987">от 1987 г.
                        </mat-option>
                        <mat-option value="1986">от 1986 г.
                        </mat-option>
                        <mat-option value="1985">от 1985 г.
                        </mat-option>
                        <mat-option value="1984">от 1984 г.
                        </mat-option>
                        <mat-option value="1983">от 1983 г.
                        </mat-option>
                        <mat-option value="1982">от 1982 г.
                        </mat-option>
                        <mat-option value="1981">от 1981 г.
                        </mat-option>
                        <mat-option value="1980">от 1980 г.
                        </mat-option>
                        <mat-option value="1979">от 1979 г.
                        </mat-option>
                        <mat-option value="1978">от 1978 г.
                        </mat-option>
                        <mat-option value="1977">от 1977 г.
                        </mat-option>
                        <mat-option value="1976">от 1976 г.
                        </mat-option>
                        <mat-option value="1975">от 1975 г.
                        </mat-option>
                        <mat-option value="1974">от 1974 г.
                        </mat-option>
                        <mat-option value="1973">от 1973 г.
                        </mat-option>
                        <mat-option value="1972">от 1972 г.
                        </mat-option>
                        <mat-option value="1971">от 1971 г.
                        </mat-option>
                        <mat-option value="1970">от 1970 г.
                        </mat-option>
                        <mat-option value="1969">от 1969 г.
                        </mat-option>
                        <mat-option value="1968">от 1968 г.
                        </mat-option>
                        <mat-option value="1967">от 1967 г.
                        </mat-option>
                        <mat-option value="1966">от 1966 г.
                        </mat-option>
                        <mat-option value="1965">от 1965 г.
                        </mat-option>
                        <mat-option value="1964">от 1964 г.
                        </mat-option>
                        <mat-option value="1963">от 1963 г.
                        </mat-option>
                        <mat-option value="1962">от 1962 г.
                        </mat-option>
                        <mat-option value="1961">от 1961 г.
                        </mat-option>
                        <mat-option value="1960">от 1960 г.
                        </mat-option>
                        <mat-option value="1959">от 1959 г.
                        </mat-option>
                        <mat-option value="1958">от 1958 г.
                        </mat-option>
                        <mat-option value="1957">от 1957 г.
                        </mat-option>
                        <mat-option value="1956">от 1956 г.
                        </mat-option>
                        <mat-option value="1955">от 1955 г.
                        </mat-option>
                        <mat-option value="1954">от 1954 г.
                        </mat-option>
                        <mat-option value="1953">от 1953 г.
                        </mat-option>
                        <mat-option value="1952">от 1952 г.
                        </mat-option>
                        <mat-option value="1951">от 1951 г.
                        </mat-option>
                        <mat-option value="1950">от 1950 г.
                        </mat-option>
                        <mat-option value="1949">от 1949 г.
                        </mat-option>
                        <mat-option value="1948">от 1948 г.
                        </mat-option>
                        <mat-option value="1947">от 1947 г.
                        </mat-option>
                        <mat-option value="1946">от 1946 г.
                        </mat-option>
                        <mat-option value="1945">от 1945 г.
                        </mat-option>
                        <mat-option value="1944">от 1944 г.
                        </mat-option>
                        <mat-option value="1943">от 1943 г.
                        </mat-option>
                        <mat-option value="1942">от 1942 г.
                        </mat-option>
                        <mat-option value="1941">от 1941 г.
                        </mat-option>
                        <mat-option value="1940">от 1940 г.
                        </mat-option>
                        <mat-option value="1939">от 1939 г.
                        </mat-option>
                        <mat-option value="1938">от 1938 г.
                        </mat-option>
                        <mat-option value="1937">от 1937 г.
                        </mat-option>
                        <mat-option value="1936">от 1936 г.
                        </mat-option>
                        <mat-option value="1935">от 1935 г.
                        </mat-option>
                        <mat-option value="1934">от 1934 г.
                        </mat-option>
                        <mat-option value="1933">от 1933 г.
                        </mat-option>
                        <mat-option value="1932">от 1932 г.
                        </mat-option>
                        <mat-option value="1931">от 1931 г.
                        </mat-option>
                        <mat-option value="1930">от 1930 г.
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <pre></pre>
    <div class="checkboxes"></div>
</main>