<main>
    <mat-toolbar class="main-toolbar">
        <div class="main-toolbar__left-side">
            <a href="/" class="logo">
                <!-- <div class="left-logo-side"></div> -->
                <span>AUTO DEALER</span>
            </a>
            <div class="auth">
                <span class="signin-signout">
                    <a *ngIf="!isLoggedIn" href="/signin">Вход</a>
                    <a *ngIf="isLoggedIn" (click)="onSignOut()">Изход</a>
                </span>
                <span>|</span>
                <span>
                    <a href="/register">Регистрация</a>
                </span>

                <span *ngIf="displayName">|</span>
                <span *ngIf="displayName">
                    <a href="/profile">{{displayName}}</a>
                </span>
            </div>
        </div>
        <div class="main-toolbar__right-side">
            <a href=""><button mat-stroked-button class="edit-ad-toolbar-btn">Редакция на обява</button></a>
            <a href="/create"><button mat-raised-button class="add-ad-toolbar-btn">+ ДОБАВИ ОБЯВА</button></a>
        </div>
    </mat-toolbar>
    <router-outlet></router-outlet>


</main>