.list-container {
    margin-top: 5%;
    padding: 35px;
    border: 1px solid #125699;
    border-top-width: 4px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.single-add-container {
    display: flex;
    justify-content: space-evenly;
    height: 240px;
    margin-bottom: 10px;
}

.single-add {
    padding: 15px;
    background-color: #eceff5;
    width: 700px;
    height: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.add-image-container {
    width: 200px;
    height: 160px;
}

.add-image-container>img {
    width: 100%;
    height: 100%;
}

.add-info-container {
    max-width: 450px;
    width: 440px;
    align-self: baseline;
    overflow: hidden;
    white-space: nowrap;
}

.add-info>p {
    margin: 0 0 0 3px;
}

.add-info>h6 {
    font-size: 1rem;
    margin: 5px 0 0 0;
}

.add-name-price {
    display: flex;
    justify-content: space-between;
}

.add-name-price>h3,
a {
    font-weight: 700 !important;
    font-size: 1.3rem;
    color: black;
    margin-bottom: 5px;
}

.add-name {
    text-decoration: none;
    cursor: pointer;
}

.add-name:hover {
    text-decoration: underline;
}

.myadd-btns-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.myadd-btns-container>p,
a {
    font-size: 1.1rem;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

.myadd-btns-container>p:hover,
a:hover {
    text-decoration: underline;
}

.no-adds {
    text-align: center;
}

@media screen and (max-width: 850px) {
    .list-container {
        flex-direction: column;
        width: 99%;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .single-add-container {
        width: 90%;
    }

    .add-image-container {
        margin: 0 1rem;
    }

    .add-info-container {
        margin: 1rem 0.5rem 0 0;
    }

    .myadd-btns-container {
        margin: 0 0.5rem;
    }

    .myadd-btns-container>p,
    a {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 500px) {
    .add-image-container {
        flex: 1;
        margin: 0 1rem;
    }

    .add-info-container {
        flex: 1.8;
        width: auto;
        max-width: none;
        margin: 1rem 1rem 0 0;
    }

    .single-add-container {
        flex-direction: column;
        width: 97%;
    }

    .single-add {
        width: 100%;
        padding: 0;
        margin-top: 1rem;
    }

    .myadd-btns-container {
        flex-direction: row;
    }

    .add-name-price>h3,
    a {
        font-size: 1.1rem;
    }
}