.mat-checkbox-layout {
    white-space: normal !important;
}

.attributes {
    margin-top: 5%;
    padding: 35px;
    border: 1px solid #125699;
    border-top-width: 4px;
}

.selects,
.checkboxes {
    display: flex;
    justify-content: space-evenly;
}

.selects__column,
.checkboxes__column {
    width: 48%;
    max-width: 49%;
}

.selects__row {
    display: flex;
    justify-content: space-between;
}

.mat-form-fields {
    width: 48%;
    max-width: 48%;
}

.buttons__row {
    display: flex;
    justify-content: flex-end;
}

.add-btn {
    width: 100%;
    background-color: #125699;
    color: #fff;
    font-size: 1.1rem;
}

.add-btn-container {
    width: 100%;
}

.single-checkbox>label {
    max-width: inherit !important;
    white-space: normal !important;
}

@media screen and (max-width: 850px) {
    .attributes {
        padding: 1rem 10px;
    }

    .selects {
        flex-direction: column;
    }

    .selects__column {
        min-width: none;
        max-width: none;
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    :host::ng-deep.mat-checkbox-layout {
        white-space: normal !important;
    }

    :host::ng-deep.mat-checkbox-inner-container {
        margin-top: 4px;
    }
}