<form class="attributes" #search="ngForm" (ngSubmit)="submit(search)">
    <div class="selects">
        <div class="selects__column">
            <div class="selects__row">
                <mat-form-field class="mat-form-fields" appearance="fill">
                    <mat-label>{{'SEARCH.BRAND' | translate}}</mat-label>
                    <mat-select matNativeControl [formControl]="brandFormControl"
                        (selectionChange)="onBrandSelection($event)" id="brandSelectId" name="brand" ngDefaultControl>
                        <mat-option selected value="">{{'SEARCH.CHOOSE' | translate}}
                        </mat-option>
                        <mat-option value="Audi">Audi
                        </mat-option>
                        <mat-option value="BMW">BMW
                        </mat-option>
                        <mat-option value="VW">VW
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="mat-form-fields" appearance="fill">
                    <mat-label>{{'SEARCH.MODEL' | translate}}</mat-label>
                    <mat-select matNativeControl id="modelSelectId" [formControl]="modelFormControl" name="model"
                        ngDefaultControl>
                        <mat-option selected value="">{{'SEARCH.CHOOSE' | translate}}
                        </mat-option>
                        <mat-option *ngFor="let model of models" value="{{model}}">{{model}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="selects__row">
                <mat-form-field class="mat-form-fields" appearance="fill">
                    <mat-label>{{'SEARCH.PREICE_FROM' | translate}}</mat-label>
                    <input matInput [formControl]="priceFromFormControl" placeholder="1000" name="priceFrom"
                        ngDefaultControl>
                </mat-form-field>

                <mat-form-field class="mat-form-fields" appearance="fill">
                    <mat-label>{{'SEARCH.PREICE_TO' | translate}}</mat-label>
                    <input matInput [formControl]="priceToFormControl" placeholder="50000" name="priceTo"
                        ngDefaultControl>
                </mat-form-field>
            </div>

            <div class="selects__row">
                <mat-form-field class="mat-form-fields" appearance="fill">
                    <mat-label>{{'SEARCH.ENGINE_TYPE' | translate}}</mat-label>
                    <mat-select matNativeControl [formControl]="engineTypeFormControl" id="engineType" name="engineType"
                        ngDefaultControl>
                        <mat-option value="">{{'SEARCH.ALL_TYPES' | translate}}
                        </mat-option>
                        <mat-option value="Бензинов">{{'SEARCH.PETROL_ENGINE' | translate}}
                        </mat-option>
                        <mat-option value="Дизелов">{{'SEARCH.DIESEL_ENGINE' | translate}}
                        </mat-option>
                        <mat-option value="Електрически">{{'SEARCH.ELECTRIC_ENGINE' | translate}}
                        </mat-option>
                        <mat-option value="Хибриден">{{'SEARCH.HYBRID_ENGINE' | translate}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="mat-form-fields" appearance="fill">
                    <mat-label>{{'SEARCH.TRANSMISSION' | translate}}</mat-label>
                    <mat-select matNativeControl [formControl]="gearTypeFormControl" id="gearType" name="gearType"
                        ngDefaultControl>
                        <mat-option value="">{{'SEARCH.ALL_TRANSMISSIONS' | translate}}
                        </mat-option>
                        <mat-option value="Ръчна">{{'SEARCH.MANUAL_TRANSMISSION' | translate}}
                        </mat-option>
                        <mat-option value="Автоматична">{{'SEARCH.AUTOMATIC_TRANSMISSION' | translate}}
                        </mat-option>
                        <mat-option value="Полуавтоматична">{{'SEARCH.SEMIAUTOMATIC_TRANSMISSION' | translate}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>

        <div class="selects__column">
            <div class="selects__row">
                <mat-form-field class="mat-form-fields" appearance="fill">
                    <mat-label>{{'SEARCH.MAKE_YEAR_FROM' | translate}}</mat-label>
                    <mat-select matNativeControl [formControl]="buildYearFromFormControl" id="yearFrom"
                        name="buildYearFrom" ngDefaultControl>
                        <mat-option value="">
                        </mat-option>
                        <mat-option value="2021">2021 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2020">2020 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2019">2019 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2018">2018 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2017">2017 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2016">2016 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2015">2015 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2014">2014 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2013">2013 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2012">2012 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2011">2011 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2010">2010 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2009">2009 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2008">2008 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2007">2007 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2006">2006 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2005">2005 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2004">2004 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2003">2003 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2002">2002 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2001">2001 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2000">2000 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1999">1999 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1998">1998 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1997">1997 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1996">1996 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1995">1995 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1994">1994 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1993">1993 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1992">1992 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1991">1991 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1990">1990 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1989">1989 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1988">1988 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1987">1987 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1986">1986 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1985">1985 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1984">1984 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1983">1983 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1982">1982 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1981">1981 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1980">1980 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1979">1979 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1978">1978 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1977">1977 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1976">1976 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1975">1975 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1974">1974 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1973">1973 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1972">1972 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1971">1971 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1970">1970 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1969">1969 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1968">1968 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1967">1967 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1966">1966 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1965">1965 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1964">1964 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1963">1963 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1962">1962 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1961">1961 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1960">1960 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1959">1959 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1958">1958 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1957">1957 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1956">1956 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1955">1955 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1954">1954 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1953">1953 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1952">1952 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1951">1951 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1950">1950 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1949">1949 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1948">1948 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1947">1947 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1946">1946 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1945">1945 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1944">1944 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1943">1943 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1942">1942 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1941">1941 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1940">1940 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1939">1939 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1938">1938 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1937">1937 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1936">1936 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1935">1935 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1934">1934 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1933">1933 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1932">1932 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1931">1931 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1930">1930 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="mat-form-fields" appearance="fill">
                    <mat-label>{{'SEARCH.MAKE_YEAR_TO' | translate}}</mat-label>
                    <mat-select matNativeControl [formControl]="buildYearToFormControl" id="yearTo" name="buildYearTo"
                        ngDefaultControl>
                        <mat-option value="">
                        </mat-option>
                        <mat-option value="2021">2021 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2020">2020 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2019">2019 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2018">2018 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2017">2017 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2016">2016 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2015">2015 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2014">2014 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2013">2013 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2012">2012 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2011">2011 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2010">2010 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2009">2009 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2008">2008 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2007">2007 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2006">2006 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2005">2005 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2004">2004 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2003">2003 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2002">2002 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2001">2001 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="2000">2000 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1999">1999 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1998">1998 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1997">1997 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1996">1996 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1995">1995 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1994">1994 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1993">1993 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1992">1992 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1991">1991 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1990">1990 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1989">1989 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1988">1988 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1987">1987 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1986">1986 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1985">1985 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1984">1984 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1983">1983 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1982">1982 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1981">1981 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1980">1980 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1979">1979 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1978">1978 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1977">1977 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1976">1976 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1975">1975 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1974">1974 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1973">1973 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1972">1972 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1971">1971 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1970">1970 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1969">1969 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1968">1968 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1967">1967 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1966">1966 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1965">1965 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1964">1964 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1963">1963 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1962">1962 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1961">1961 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1960">1960 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1959">1959 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1958">1958 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1957">1957 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1956">1956 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1955">1955 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1954">1954 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1953">1953 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1952">1952 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1951">1951 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1950">1950 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1949">1949 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1948">1948 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1947">1947 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1946">1946 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1945">1945 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1944">1944 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1943">1943 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1942">1942 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1941">1941 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1940">1940 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1939">1939 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1938">1938 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1937">1937 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1936">1936 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1935">1935 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1934">1934 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1933">1933 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1932">1932 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1931">1931 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                        <mat-option value="1930">1930 {{'SEARCH.YEAR_ABRIVIATION' | translate}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="buttons__row">
                <div class="add-btn-container">
                    <button mat-raised-button class="add-btn" type="submit">{{'SEARCH.SEARCH' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
    <pre></pre>
    <pre></pre>
    <div class="checkboxes">
        <div class="checkboxes__column">
            <div class="checkboxes__row">
                <section class="" [formGroup]="safety">
                    <h4><b>{{'SEARCH.SAFETY' | translate}}:</b></h4>
                    <p>
                        <mat-checkbox color="primary" formControlName="airbags">{{'SEARCH.AIRBAGS' | translate}}</mat-checkbox>
                    </p>
                    <p>
                        <mat-checkbox color="primary" formControlName="isofix">ISOFIX</mat-checkbox>
                    </p>
                    <p>
                        <mat-checkbox color="primary" formControlName="esp">{{'SEARCH.ESP' | translate}}
                        </mat-checkbox>
                    </p>
                </section>
            </div>

            <div class="checkboxes__row">
                <section class="" [formGroup]="exterior">
                    <h4><b>{{'SEARCH.EXTERIOR' | translate}}:</b></h4>
                    <p>
                        <mat-checkbox color="primary" formControlName="doors2">2(3) {{'SEARCH.DOORS' | translate}}</mat-checkbox>
                    </p>
                    <p>
                        <mat-checkbox color="primary" formControlName="doors4">4(5) {{'SEARCH.DOORS' | translate}}</mat-checkbox>
                    </p>
                    <p>
                        <mat-checkbox color="primary" formControlName="ledLights">LED {{'SEARCH.LIGHTS' | translate}}</mat-checkbox>
                    </p>
                </section>
            </div>
        </div>

        <div class="checkboxes__column">
            <div class="checkboxes__row">
                <section class="checkboxes__column" [formGroup]="comfort">
                    <h4><b>{{'SEARCH.COMFORT' | translate}}:</b></h4>
                    <p>
                        <mat-checkbox color="primary" formControlName="bluetooth">Bluetooth</mat-checkbox>
                    </p>
                    <p>
                        <mat-checkbox color="primary" formControlName="dvd">DVD</mat-checkbox>
                    </p>
                    <p>
                        <mat-checkbox color="primary" formControlName="cruiseControl">{{'SEARCH.CRUISE_CONTROL' | translate}}</mat-checkbox>
                    </p>
                </section>
            </div>

            <div class="checkboxes__row">
                <section class="checkboxes__column" [formGroup]="other">
                    <h4><b>{{'SEARCH.OTHERS' | translate}}:</b></h4>
                    <p>
                        <mat-checkbox color="primary" formControlName="awd">4x4</mat-checkbox>
                    </p>
                    <p>
                        <mat-checkbox color="primary" formControlName="disabledPeople">{{'SEARCH.PEOPLE_WITH_DISABILITIES' | translate}}
                        </mat-checkbox>
                    </p>
                    <p>
                        <mat-checkbox color="primary" formControlName="centralLock">{{'SEARCH.CENTRAL_LOCK' | translate}}</mat-checkbox>
                    </p>
                </section>
            </div>
        </div>
    </div>
</form>